*{
	margin: 0 auto;
	padding: 0 auto;
	font-family: sans-serif;
}

/*Top Menu*/
.header{
	background-color: #FFFFFF;
	border-bottom: 1px solid #b3b3b3;
	opacity: 0.8; 
}
.menu1{
	width: 72%;
    margin: 0 auto;
	font-size: 0.55em;
	height: 26px;
	padding: 6px;
}
.menu1 .bar{
	float: left;
	color: #b3b3b3;
	margin-top: 8px;
}
.menu1 a{
	float: left;
	text-decoration: none;
	color: #000000;
	margin-top: 8px;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: bold;
}
.right-menu1{
	float: right;
  	text-align: right;
}
.searchbox{
	float: left;
  	position: relative;
}
.menu1-arrow{
  	position: absolute;
  	right: 8px;
  	top: 9px;
}
.flag {
  float: left;
  padding: 8px 12px 0px 0px;
}
input#text1 {
	width: 220px;
	height: 19px;
	font-size: 1.2em;
	padding-left: 10px;
	box-shadow: inset 5px 0px 0px 5px #b3b3b3;
}

/*Logo Container Content*/

.main{
	width: 72%;
}
.logo-container{
	padding-top: 20px;
	height: 100px;
}
.logo{
	float: left;
}
#lock{
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
.login{
	float: right;
	width: 35%;
	margin-right: 20px;
}
.loginId{
	float: right;
	font-size: 0.8em;
	font-weight: bold;
	margin-top: 15px;
	margin-right: 67px;
}
.loginId .text{
	float: left;
}
.login .links{
	float: right;
	margin-top: 4px;
}
.login li{
	float: left;
	margin-left: 30px;
}
.login a{
	text-decoration: none;
	color: #000000;
	font-size: 0.8em;
}

/*Main Menu*/
.main-menu{
	background-color: #000000;
	height: 38px;
} 
.menu-left{
	padding-top: 9px;
	float: left;
}
.main-menu-div{
	margin-top: -2px;
}
.main-menu ul{
	list-style: none;
	padding-left: 0px;
}
.main-menu li{
	float: left;
}
.main-menu a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 0.8em;
}

.main-menu a{
	margin-left: 20px;
	margin-right: 20px;
}
.menu-right{
	float: right;
	background-color: #FF1929;
	padding-top: 10px;
	padding-bottom: 13px;
	padding-left: 8px;
}
.menu-right span{
	margin-left: -35px;
}
.menu-right img{
	margin-right: 8px;
	margin-top: 3px;
}


/*Slide*/
.slide{
	background-image: url("images/slider.png");
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
  	border: 1px solid #edeae1;
  	padding-left: 70px;
  	height: 350px;
}
p#a {
	margin-top: 10px;
  	color: #ff1929;
  	font-size: 3em;
  	padding: 0 0 0 0;
}
p#b {
  	color: black;
  	font-size: 8em;
  	margin: -20px 0 0 0;
}
p#c {
  	background-color: black;
  	color: white;
  	font-size: 2em;
  	width: 205px;
  	text-align: ri;
  	margin: 0 0 -17px 111px;
}
p#d {
  	font-size: 5em;
  	margin: 0 0 0 143px;
  	padding: 0 0 0 0;
  	font-family: Arial;
}
.view {
  	text-align: left;
  	margin-left: 172px;
  	margin-bottom: 20px;
}
.view a {
  	color: #ff1929;
  	font-size: 0.8em;
  	text-decoration: none;
}
.left-slide{
	float: left;
	width: 40%;
}
.right-slide {
  	position: absolute;
  	right: 175px;
  	top: 100px;
}

/*Content*/

/*====right content====*/
.right-content{
	width: 24%;
  	float: right;
  	padding: 20px 20px  0 0;
}
#cart{
	background-color: #FF1929;
	padding: 7px 10px 7px 10px;
	border: 1px solid #CCCCCC;
	color: #FFFFFF;
}
.right-content p{
	margin-top: 5px;
	font-size: 0.7em;
	margin-bottom: 5px;
}
.right-content p.p-head{
	font-size: 0.9em;
}
.right-content p span{
	color: #FF1929;
}
.right-content pre{
	margin-top: 5px;
	font-size: 0.8em;
	margin-bottom: 5px;
}
.right-content .head{
	font-size: 1.2em;
}
#compare{
	margin-top: 15px;
	background-color: #2E2E2E;
	padding: 7px 10px 7px 10px;
	border: 1px solid #CCCCCC;
	color: #FFFFFF;
}
#tags{
	margin-top: 15px;
	background-color: #2E2E2E;
	padding: 7px 10px 7px 10px;
	border: 1px solid #CCCCCC;
	color: #FFFFFF;
}
#best-seller{
	margin-top: 15px;
	padding: 7px 7px 5px 7px;
	border: 1px solid #CCCCCC;
}
#best-seller .head{
	padding-left: 3px;
}
hr{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 20px;
	border-top: 0.7px dotted #b3b3b3;
}
.row{
	margin: 10px 5px 25px 5px;
}
.row-left{
	height: 65px;
	width: 72px;
	border: 1px solid #b3b3b3;
	float: left;
	padding-top: 10px;
	margin-right: 7px;
}
/*Left Content*/
.left-content{
	float: left;
	width: 72%;
	padding: 12px 0px 0px 10px;
}
.heading{
	font-size: 1.3em;
  	color: #e63417;
  	padding: 0 0 12px 0;
}
.box-container{
	width: 22%;
	float: left;
	margin-right: 3%;
}
.box{
	border: 1px solid #CCCCCC;
	padding: 5px 5px 5px 5px;
	text-align: center;
}
.box .img{
	height: 65px;
	margin-top: 35px;
}
.box hr{
	margin-bottom: 8px;
}
.box .p-head{
	margin-bottom: 5px;
	font-size: 0.9em;
	margin-top: -2px;
}
#last-box{
	margin-right: 0px;
}
.shadow{
	float: left;
	margin-top: -1px;
	margin-bottom: 10px;
}
.box1-container{
	width: 97%;
	float: left;
	border: 1px solid #CCCCCC;
}
.column{
	float: left;
	padding: 20px 10px 0px 10px;
	margin-bottom: -30px;
	width: 30.16%;
}
.box1{
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
.box1 .img{
	border: 1px solid #CCCCCC;
	width: 80%;
	height: 85px;
	padding-top: 40px;
	margin-bottom: 20px;
}
.left-content p{
	margin-top: 15px;
	font-size: 0.75em;
}
#price{
	font-size: 1.2em;
	float: left;
}
.prc img{
	float: right;
	margin-top: 18px;
}
.box1-shadow{
	float: left;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 30px;
}
.col-gap{
	padding: 15px 0 0 0;
  	float: left;
}
.browse{
	float: right;
	margin-right: 20px;
}
.browse span{
	font-weight: bold;
}

/*Footer*/
.footer-container{
	background-image: url("images/footer.png");
	margin-top: 50px;
	width: 100%;
}
.footer{
	width: 72%;
	padding-top: 12px;
	height: 105px;
}
.part-1{
	float: left;
	width: 31%;
	margin-right: 40px;
}
p#p {
  	padding: 0 0 3px 0;
  	color: #FFFFFF;
  	font-size: 1em;
  	margin-bottom: 5px;
}
input#text2 { 
	background:  #25211A; 
	border: 1px solid #000000; 
	box-shadow: 0 0 5px #000000 inset; 
	color: #CCCCCC; 
	float: left; 
	padding: 7px 10px; 
	width: 200px; 
	outline: none; 
} 
button#bt2 {
  	background-color: #FF1929;
    border: 2px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    height: 34px;
    margin-left: 20px;
}
p#q {
	color: #FFFFFF;
  	font-size: 0.8em;
  	padding: 7px 0 0 0;
  	opacity: 0.4;
}
.footer-gap{
	float: left;
}
.part-2{
	margin-top: -10px;
	float: left;
	padding-top: 20px;
}
.part-2 .yellow{
	background: rgba(255,175,75,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(255,162,45,1) 34%, rgba(255,146,10,1) 74%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,175,75,1)), color-stop(34%, rgba(255,162,45,1)), color-stop(74%, rgba(255,146,10,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(255,162,45,1) 34%, rgba(255,146,10,1) 74%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(255,162,45,1) 34%, rgba(255,146,10,1) 74%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(255,162,45,1) 34%, rgba(255,146,10,1) 74%);
	background: radial-gradient(ellipse at center, rgba(255,175,75,1) 0%, rgba(255,162,45,1) 34%, rgba(255,146,10,1) 74%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
	width: 275px;
	height: 60px;
	-webkit-box-shadow: 1px 2px 4px 0px rgba(50, 50, 50, 0.43);
	-moz-box-shadow: 1px 2px 4px 0px rgba(50, 50, 50, 0.43);
	box-shadow: 1px 2px 4px 0px rgba(50, 50, 50, 0.43);
	float: right;
	margin-right: 50px;
	margin-top: 2px;
	margin-left: -90px;
	padding-top: 12px;
	padding-right: 13px;	
}
.yellow p#x{
	float: right;
	font-size: 1.3em;
	margin-right: 12px;
}
.yellow p#y{
	float: right;
	font-size: 0.9em;
	margin-right: 5px;
}
.part-2 .cart{
	margin-left: 60px;
	margin-top: -18px;
	z-index: 1;
	float: left;
	position: relative;
	height: 90px;
}
.part-3{
	float: right;
	margin-left: 30px;
}
.social{
	margin-top: 18px;
}
.social a{
	margin-right: 10px;
}
.after-footer{
	text-align: center;
	width: 72%;
	margin-top: 20px;
	font-size: 0.8em;
	color: #3E3933;
}
.after-footer a{
	text-decoration: none;
	color: #3E3933;
}
.after-footer p{
	margin-bottom: 15px;
}